Repository rustymotors/server: changes, and which Codecov flags are due for each by the changed paths.
All: MCServer, All_Services, Shared

.codecov.yml:

flags:
  MCServer:
    paths:
      - src/services/MCServer/*
    carryforward: false
  All_Services:
    paths:
      - src/services/**/*
    carryforward: false
  Shared:
    paths:
      - src/services/shared/*
    carryforward: false

fix(deps): update dependency @drazisil/mco-logger to v4
  package-lock.json
  package.json
Due: none

chore(deps): update dependency supertest to v6.1.4
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v14.17.6
  package-lock.json
  package.json
Due: none

refactor: change to new logging call
  src/MCOServer.ts
  src/services/@drazisil/mco-patch/index.ts
  src/services/@drazisil/mco-shard/index.ts
  src/services/@drazisil/ssl-options.ts
  src/services/AdminServer/index.ts
  src/services/LobbyServer/index.ts
  src/services/LobbyServer/nps-user-info.ts
  src/services/LoginServer/index.ts
  src/services/LoginServer/nps-user-status.ts
  src/services/MCOTS/index.ts
  src/services/MCOTS/lobby-msg.ts
  src/services/MCOTS/login-msg.ts
  src/services/MCOTS/message-node.ts
  src/services/MCOTS/nps-msg.ts
  src/services/MCOTS/stock-car-info-msg.ts
  src/services/MCOTS/stock-car.ts
  src/services/MCOTS/tcp-manager.ts
  src/services/MCServer/client-connect-msg.ts
  src/services/MCServer/connection-mgr.ts
  src/services/MCServer/generic-reply-msg.ts
  src/services/MCServer/generic-request-msg.ts
  src/services/MCServer/index.ts
  src/services/MCServer/listener-thread.ts
  src/services/MCServer/nps-packet-manager.ts
  src/services/PersonaServer/nps-persona-maps-msg.ts
  src/services/PersonaServer/persona-server.ts
Due: MCServer, All_Services

refactor: auth and patch are now sevices
  src/app.ts
  src/services/@drazisil/mco-auth/index.ts
  src/services/@drazisil/mco-auth/server.config.js
  src/services/@drazisil/mco-patch/index.ts
  src/services/@drazisil/mco-shard/index.ts
  src/services/@drazisil/mco-types/index.ts
  src/services/@drazisil/ssl-options.test.ts
  src/services/@drazisil/ssl-options.ts
Due: All_Services

doc: improved notes
  src/app.ts
Due: none

chore: lint
  src/app.ts
  src/services/@drazisil/mco-patch/index.ts
  src/services/@drazisil/ssl-options.ts
Due: All_Services

refactor: seperate mesh logic
  src/services/@drazisil/mco-auth/index.ts
  src/services/@drazisil/mco-common/index.ts
  src/services/@drazisil/mco-patch/index.ts
  src/services/@drazisil/mco-shard/index.ts
Due: All_Services

chore: logging cleanup
  src/app.ts
  src/services/@drazisil/mco-auth/index.ts
  src/services/@drazisil/mco-common/index.ts
  src/services/@drazisil/mco-patch/index.ts
  src/services/@drazisil/mco-route/index.ts
  src/services/@drazisil/mco-shard/index.ts
Due: All_Services

chore: switch on action type
  src/services/@drazisil/mco-route/index.ts
Due: All_Services

chore: code smell cleanup
  src/services/@drazisil/mco-auth/index.ts
  src/services/@drazisil/mco-common/index.ts
  src/services/@drazisil/mco-patch/index.ts
  src/services/@drazisil/mco-patch/patch-server.test.ts
  src/services/@drazisil/mco-route/index.ts
  src/services/@drazisil/mco-shard/index.ts
  src/services/@drazisil/mco-types/index.ts
  src/services/AdminServer/index.ts
  test/persona-server.test.ts
Due: All_Services

refactor: create proxy, reconnect mcserver
  package-lock.json
  package.json
  src/MCOServer.ts
  src/app.ts
  src/services/@drazisil/mco-auth/index.ts
  src/services/@drazisil/mco-patch/server.config.js
  src/services/@drazisil/mco-proxy/index.ts
  src/services/@drazisil/mco-shard/index.ts
  src/services/@drazisil/mco-shard/server.config.js
  src/services/@drazisil/mco-types/index.ts
  src/services/AdminServer/index.ts
  src/services/MCOTS/tcp-manager.ts
  src/services/MCServer/index.ts
  test/admin-server.test.ts
Due: MCServer, All_Services

chore: add login server commands
  src/structures.ts
Due: none

doc: add entry and exit logs
  src/services/LoginServer/index.ts
Due: All_Services

fix: correct flags and set seq
  src/services/MCOTS/index.ts
Due: All_Services

doc: add entry and exit logs
  src/services/MCOTS/index.ts
  src/services/MCOTS/tcp-manager.ts
Due: All_Services

chore: remove commented code
  src/structures.ts
Due: none

chore: remove unused imports
  src/app.ts
Due: none

refactor: use elestic stack
  docker-compose.yml
Due: none

chore(deps): update dependency prettier-eslint to v13
  package-lock.json
  package.json
Due: none

chore(deps): update typescript-eslint monorepo to v4.28.5
  package-lock.json
  package.json
Due: none

chore(deps): update dependency sinon to v11.1.2
  package-lock.json
  package.json
Due: none

refactor: routes table on admin server
  src/services/AdminServer/data/mcouniverse.cnf
  src/services/AdminServer/data/mcouniverse.crt
  src/services/AdminServer/data/private_key.pem
  src/services/AdminServer/data/pub.key
  src/services/AdminServer/index.ts
  src/services/AdminServer/server.config.js
  src/services/LobbyServer/index.ts
Due: All_Services

refactor: replace dump with tojson
  docs/reference/errors.txt
  src/services/@drazisil/mco-auth/web-server.test.ts
  src/services/@drazisil/mco-common/index.ts
  src/services/AdminServer/index.ts
  src/services/AdminServer/server.config.js
  src/services/LobbyServer/index.ts
  src/services/LobbyServer/nps-user-info.ts
  src/services/LoginServer/index.ts
  src/services/LoginServer/nps-user-status.ts
  src/services/MCOTS/index.ts
  src/services/MCOTS/lobby-msg.ts
  src/services/MCOTS/login-msg.ts
  src/services/MCOTS/message-node.ts
  src/services/MCOTS/nps-msg.ts
  src/services/MCOTS/stock-car-info-msg.ts
  src/services/MCOTS/stock-car.ts
  src/services/MCOTS/tcp-manager.ts
  src/services/MCServer/client-connect-msg.ts
  src/services/MCServer/generic-reply-msg.ts
  src/services/MCServer/generic-request-msg.ts
  src/services/PersonaServer/nps-persona-maps-msg.ts
  src/services/PersonaServer/persona-server.ts
  test/mcots-server.test.ts
  test/message-node.test.ts
Due: MCServer, All_Services

fix: remove unneeded return
  src/services/LobbyServer/index.ts
Due: All_Services

chore: change name and email
  package.json
Due: none

fix: add returns
  src/services/shared/database-manager.ts
Due: All_Services, Shared

chore(deps): update node.js to v14.17.4
  .nvmrc
Due: none

chore(deps): update dependency eslint to v7.32.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @babel/preset-env to v7.14.9
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v14.17.7
  package-lock.json
  package.json
Due: none

chore(deps): update typescript-eslint monorepo to v4.29.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v14.17.8
  package-lock.json
  package.json
Due: none

chore(deps): update babel monorepo to v7.15.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v14.17.9
  package-lock.json
  package.json
Due: none

Create create-diagram.yml
  .github/workflows/create-diagram.yml
Due: none

Update README.md
  README.md
Due: none

Update create-diagram.yml
  .github/workflows/create-diagram.yml
Due: none

Repo visualizer: updated diagram
  diagram.svg
Due: none
