Repository rustymotors/server: changes, and which Codecov flags are due for each by the changed paths.
All: MCServer, All_Services, Shared

Create CODEOWNERS
  .github/CODEOWNERS
Due: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

chore(deps): update dependency mocha to v9
  package-lock.json
  package.json
Due: none

chore(deps): update codecov/codecov-action action to v1.5.2
  .github/workflows/node.yml
Due: none

chore(deps): update dependency mock-fs to v5
  package-lock.json
  package.json
Due: none

chore(deps): update node.js to v14.17.1
  .nvmrc
  package-lock.json
  package.json
Due: none

chore(deps): update dependency mocha to v9.0.1
  package-lock.json
  package.json
Due: none

chore: switch from standard to eslint
  .eslintrc
  .gitignore
  .prettierrc
  Makefile
  jsconfig.json
  package-lock.json
  package.json
  src/server.js
  src/services/AdminServer/AdminServer.js
  src/services/AuthLogin/AuthLogin.js
  src/services/MCServer/ClientConnectMsg.js
  src/services/MCServer/ConnectionMgr.js
  src/services/MCServer/ConnectionObj.js
  src/services/MCServer/EncryptionMgr.js
  src/services/MCServer/GenericReplyMsg.js
  src/services/MCServer/GenericRequestMsg.js
  src/services/MCServer/LobbyServer/LobbyServer.js
  src/services/MCServer/LobbyServer/npsUserInfo.js
  src/services/MCServer/LoginServer/LoginServer.js
  src/services/MCServer/LoginServer/npsUserStatus.js
  src/services/MCServer/MCOTS/LobbyInfo.js
  src/services/MCServer/MCOTS/LobbyMsg.js
  src/services/MCServer/MCOTS/LoginMsg.js
  src/services/MCServer/MCOTS/MCOTServer.js
  src/services/MCServer/MCOTS/MessageNode.js
  src/services/MCServer/MCOTS/NPSMsg.js
  src/services/MCServer/MCOTS/StockCar.js
  src/services/MCServer/MCOTS/StockCarInfoMsg.js
  src/services/MCServer/MCOTS/TCPManager.js
  src/services/MCServer/PersonaServer/NPSPersonaMapsMsg.js
  src/services/MCServer/PersonaServer/PersonaServer.js
  src/services/MCServer/index.js
  src/services/MCServer/listenerThread.js
  src/services/MCServer/npsPacketManager.js
  src/services/PatchAndShard/ShardEntry.js
  src/services/PatchAndShard/patchServer.js
  src/structures.js
  src/types.js
Due: MCServer, All_Services

chore: switch from standard to eslint (#890)
  .eslintrc
  .gitignore
  .prettierrc
  Makefile
  jsconfig.json
  package-lock.json
  package.json
  src/server.js
  src/services/AdminServer/AdminServer.js
  src/services/AuthLogin/AuthLogin.js
  src/services/MCServer/ClientConnectMsg.js
  src/services/MCServer/ConnectionMgr.js
  src/services/MCServer/ConnectionObj.js
  src/services/MCServer/EncryptionMgr.js
  src/services/MCServer/GenericReplyMsg.js
  src/services/MCServer/GenericRequestMsg.js
  src/services/MCServer/LobbyServer/LobbyServer.js
  src/services/MCServer/LobbyServer/npsUserInfo.js
  src/services/MCServer/LoginServer/LoginServer.js
  src/services/MCServer/LoginServer/npsUserStatus.js
  src/services/MCServer/MCOTS/LobbyInfo.js
  src/services/MCServer/MCOTS/LobbyMsg.js
  src/services/MCServer/MCOTS/LoginMsg.js
  src/services/MCServer/MCOTS/MCOTServer.js
  src/services/MCServer/MCOTS/MessageNode.js
  src/services/MCServer/MCOTS/NPSMsg.js
  src/services/MCServer/MCOTS/StockCar.js
  src/services/MCServer/MCOTS/StockCarInfoMsg.js
  src/services/MCServer/MCOTS/TCPManager.js
  src/services/MCServer/PersonaServer/NPSPersonaMapsMsg.js
  src/services/MCServer/PersonaServer/PersonaServer.js
  src/services/MCServer/index.js
  src/services/MCServer/listenerThread.js
  src/services/MCServer/npsPacketManager.js
  src/services/PatchAndShard/ShardEntry.js
  src/services/PatchAndShard/patchServer.js
  src/structures.js
  src/types.js
Due: MCServer, All_Services

refactor: create tsconfig
  .gitignore
  jsconfig.json
  package-lock.json
  package.json
  tsconfig.json
Due: none

chore: update package lock
  package-lock.json
Due: none

refactor: create tsconfig (#892)
  .gitignore
  jsconfig.json
  package-lock.json
  package.json
  tsconfig.json
Due: none

chore(deps): update dependency sinon to v11
  package-lock.json
  package.json
Due: none

refactor: switch to sqlite
  .eslintrc
  .github/workflows/node.yml
  .gitignore
  Makefile
  app.js
  config/app_settings.ini
  data/cert.crt
  migrations/1-2.sql
  package-lock.json
  package.json
  src/services/@mcoserver/mco-logger/index.js
  src/services/PatchAndShard/patchServer.js
  src/shared/DatabaseManager.js
  src/shared/db/index.js
Due: All_Services

fix: create db dir
  package.json
Due: none

refactor: switch to sqlite (#893)
  .eslintrc
  .github/workflows/node.yml
  .gitignore
  Makefile
  app.js
  config/app_settings.ini
  data/cert.crt
  migrations/1-2.sql
  package-lock.json
  package.json
  src/services/@mcoserver/mco-logger/index.js
  src/services/PatchAndShard/patchServer.js
  src/shared/DatabaseManager.js
  src/shared/db/index.js
Due: All_Services

chore: add dotenv
  .github/workflows/node.yml
  .gitignore
  app.js
  package-lock.json
  package.json
  src/services/@mcoserver/mco-logger/index.js
Due: All_Services

chore: add dotenv (#894)
  .github/workflows/node.yml
  .gitignore
  app.js
  package-lock.json
  package.json
  src/services/@mcoserver/mco-logger/index.js
Due: All_Services

fix: only top level services should exit
  src/services/MCServer/ConnectionMgr.js
  src/services/MCServer/listenerThread.js
  src/shared/DatabaseManager.js
Due: MCServer, All_Services

docs: add directions on error handling
  src/services/AuthLogin/AuthLogin.js
Due: All_Services

chore: additional ssl details, rename and update
  Makefile
  config/app_settings.ini
  data/cert.crt
  data/mcouniverse.cnf
  data/mcouniverse.crt
  data/private_key.pem
  data/pub.key
Due: none

chore(deps): update dependency @types/chai to v4.2.19
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v14.17.4
  package-lock.json
  package.json
Due: none

refactor: update certs to use v3 and update docs
  config/app_settings.ini
  data/cert.crt
  data/mcouniverse.cnf
  data/mcouniverse.crt
  data/private_key.pem
  data/pub.key
  docs/client.md
Due: none

refactor: remove winston and update log calls
  Makefile
  app.js
  bin/run_tests.sh
  package-lock.json
  package.json
  src/server.js
  src/services/@mcoserver/mco-logger/index.js
  src/services/AdminServer/AdminServer.js
  src/services/AuthLogin/AuthLogin.js
  src/services/MCServer/ClientConnectMsg.js
  src/services/MCServer/ConnectionMgr.js
  src/services/MCServer/GenericReplyMsg.js
  src/services/MCServer/GenericRequestMsg.js
  src/services/MCServer/LobbyServer/LobbyServer.js
  src/services/MCServer/LobbyServer/npsUserInfo.js
  src/services/MCServer/LoginServer/LoginServer.js
  src/services/MCServer/LoginServer/npsUserStatus.js
  src/services/MCServer/MCOTS/LobbyMsg.js
  src/services/MCServer/MCOTS/LoginMsg.js
  src/services/MCServer/MCOTS/MCOTServer.js
  src/services/MCServer/MCOTS/MessageNode.js
  src/services/MCServer/MCOTS/NPSMsg.js
  src/services/MCServer/MCOTS/StockCar.js
  src/services/MCServer/MCOTS/StockCarInfoMsg.js
  src/services/MCServer/MCOTS/TCPManager.js
  src/services/MCServer/PersonaServer/NPSPersonaMapsMsg.js
  src/services/MCServer/PersonaServer/PersonaServer.js
  src/services/MCServer/index.js
  src/services/MCServer/listenerThread.js
  src/services/MCServer/npsPacketManager.js
  src/services/PatchAndShard/patchServer.js
  src/shared/DatabaseManager.js
  test/ConnectionObj.test.js
  test/helpers.js
  test/listenerThread.test.js
  test/patchServer.test.js
Due: MCServer, All_Services

chore: install comitlint and husky
  .husky/.gitignore
  commitlint.config.js
  package-lock.json
  package.json
Due: none

chore: install comitlint and husky
  .husky/.gitignore
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Due: none

test: change test ip non-routable
  test/helpers.js
Due: none

refactor: remove nested template litteral
  src/services/MCServer/ConnectionMgr.js
Due: MCServer, All_Services

fix: call function correctly
  src/services/@mcoserver/mco-logger/index.js
Due: All_Services

fix: remove incorrect curly brace
  src/services/MCServer/ConnectionMgr.js
Due: MCServer, All_Services

fix: correctly text for level
  src/services/@mcoserver/mco-logger/index.js
Due: All_Services

refactor: remove dotenv and ini, refactor config
  app.js
  app_AuthLogin.js
  bin/run_tests.sh
  config/app-settings.js
  config/app_settings.ini
  config/index.js
  package-lock.json
  package.json
  src/server.js
  src/services/AdminServer/AdminServer.js
  src/services/AuthLogin/AuthLogin.js
  src/services/MCServer/index.js
  src/services/MCServer/listenerThread.js
  src/services/PatchAndShard/patchServer.js
Due: MCServer, All_Services

chore: remove unused dep
  package-lock.json
  package.json
  src/services/MCServer/MCOTS/LoginMsg.js
  src/services/MCServer/MCOTS/MCOTServer.js
Due: All_Services

chore: remove unused migrate script
  package.json
Due: none

doc: update author
  package.json
Due: none

refactor: change scope to drazisil
  app.js
  src/server.js
  src/services/@drazisil/mco-logger/index.js
  src/services/AdminServer/AdminServer.js
  src/services/AuthLogin/AuthLogin.js
  src/services/MCServer/ClientConnectMsg.js
  src/services/MCServer/ConnectionMgr.js
  src/services/MCServer/GenericReplyMsg.js
  src/services/MCServer/GenericRequestMsg.js
  src/services/MCServer/LobbyServer/LobbyServer.js
  src/services/MCServer/LobbyServer/npsUserInfo.js
  src/services/MCServer/LoginServer/LoginServer.js
  src/services/MCServer/LoginServer/npsUserStatus.js
  src/services/MCServer/MCOTS/LobbyMsg.js
  src/services/MCServer/MCOTS/LoginMsg.js
  src/services/MCServer/MCOTS/MCOTServer.js
  src/services/MCServer/MCOTS/MessageNode.js
  src/services/MCServer/MCOTS/NPSMsg.js
  src/services/MCServer/MCOTS/StockCar.js
  src/services/MCServer/MCOTS/StockCarInfoMsg.js
  src/services/MCServer/MCOTS/TCPManager.js
  src/services/MCServer/PersonaServer/NPSPersonaMapsMsg.js
  src/services/MCServer/PersonaServer/PersonaServer.js
  src/services/MCServer/index.js
  src/services/MCServer/listenerThread.js
  src/services/MCServer/npsPacketManager.js
  src/services/PatchAndShard/patchServer.js
  test/ConnectionObj.test.js
  test/logger.test.js
Due: MCServer, All_Services

refactor: move mco-logger to seperate package
  app.js
  package-lock.json
  package.json
  src/server.js
  src/services/@drazisil/mco-logger/index.js
  src/services/AdminServer/AdminServer.js
  src/services/AuthLogin/AuthLogin.js
  src/services/MCServer/ClientConnectMsg.js
  src/services/MCServer/ConnectionMgr.js
  src/services/MCServer/GenericReplyMsg.js
  src/services/MCServer/GenericRequestMsg.js
  src/services/MCServer/LobbyServer/LobbyServer.js
  src/services/MCServer/LobbyServer/npsUserInfo.js
  src/services/MCServer/LoginServer/LoginServer.js
  src/services/MCServer/LoginServer/npsUserStatus.js
  src/services/MCServer/MCOTS/LobbyMsg.js
  src/services/MCServer/MCOTS/LoginMsg.js
  src/services/MCServer/MCOTS/MCOTServer.js
  src/services/MCServer/MCOTS/MessageNode.js
  src/services/MCServer/MCOTS/NPSMsg.js
  src/services/MCServer/MCOTS/StockCar.js
  src/services/MCServer/MCOTS/StockCarInfoMsg.js
  src/services/MCServer/MCOTS/TCPManager.js
  src/services/MCServer/PersonaServer/NPSPersonaMapsMsg.js
  src/services/MCServer/PersonaServer/PersonaServer.js
  src/services/MCServer/index.js
  src/services/MCServer/listenerThread.js
  src/services/MCServer/npsPacketManager.js
  src/services/PatchAndShard/patchServer.js
  test/ConnectionObj.test.js
  test/logger.test.js
Due: MCServer, All_Services

Path conditions:
  MCServer: any of: src/services/MCServer/*
  All_Services: any of: src/services/**/*
  Shared: any of: src/services/shared/*
