Repository rustymotors/server: changes, and which Codecov flags are due for each by the changed paths.
All: MCServer, All_Services, Shared

.codecov.yml:

flags:
  MCServer:
    paths:
      - src/services/MCServer/*
    carryforward: false
  All_Services:
    paths:
      - src/services/**/*
    carryforward: false
  Shared:
    paths:
      - src/services/shared/*
    carryforward: false

chore: update mco-logger
  package-lock.json
  package.json
Due: none

refactor: change scope to drazisil (#899)
  app.js
  package-lock.json
  package.json
  src/server.js
  src/services/@mcoserver/mco-logger/index.js
  src/services/AdminServer/AdminServer.js
  src/services/AuthLogin/AuthLogin.js
  src/services/MCServer/ClientConnectMsg.js
  src/services/MCServer/ConnectionMgr.js
  src/services/MCServer/GenericReplyMsg.js
  src/services/MCServer/GenericRequestMsg.js
  src/services/MCServer/LobbyServer/LobbyServer.js
  src/services/MCServer/LobbyServer/npsUserInfo.js
  src/services/MCServer/LoginServer/LoginServer.js
  src/services/MCServer/LoginServer/npsUserStatus.js
  src/services/MCServer/MCOTS/LobbyMsg.js
  src/services/MCServer/MCOTS/LoginMsg.js
  src/services/MCServer/MCOTS/MCOTServer.js
  src/services/MCServer/MCOTS/MessageNode.js
  src/services/MCServer/MCOTS/NPSMsg.js
  src/services/MCServer/MCOTS/StockCar.js
  src/services/MCServer/MCOTS/StockCarInfoMsg.js
  src/services/MCServer/MCOTS/TCPManager.js
  src/services/MCServer/PersonaServer/NPSPersonaMapsMsg.js
  src/services/MCServer/PersonaServer/PersonaServer.js
  src/services/MCServer/index.js
  src/services/MCServer/listenerThread.js
  src/services/MCServer/npsPacketManager.js
  src/services/PatchAndShard/patchServer.js
  test/ConnectionObj.test.js
  test/logger.test.js
Due: MCServer, All_Services

chore(deps): update dependency prettier to v2.3.2
  package-lock.json
  package.json
Due: none

chore: update badges
  README.md
  package-lock.json
  package.json
Due: none

chore: update badges (#901)
  README.md
  package-lock.json
  package.json
Due: none

refactor: start converting to es modules
  .eslintrc
  config/index.js
  package-lock.json
  package.json
  src/server.js
  src/services/@drazisil/mco-logger.d.ts
  src/services/AdminServer/index.js
  src/services/AuthLogin/AuthLogin.js
  src/services/MCServer/ClientConnectMsg.js
  src/services/MCServer/ConnectionMgr.js
  src/services/MCServer/ConnectionObj.js
  src/services/MCServer/EncryptionMgr.js
  src/services/MCServer/GenericReplyMsg.js
  src/services/MCServer/GenericRequestMsg.js
  src/services/MCServer/LobbyServer/LobbyServer.js
  src/services/MCServer/LobbyServer/npsUserInfo.js
  src/services/MCServer/LoginServer/LoginServer.js
  src/services/MCServer/LoginServer/npsUserStatus.js
  src/services/MCServer/LoginServer/packet.js
  src/services/MCServer/MCOTS/LobbyInfo.js
  src/services/MCServer/MCOTS/LobbyMsg.js
  src/services/MCServer/MCOTS/LoginMsg.js
  src/services/MCServer/MCOTS/MCOTServer.js
  src/services/MCServer/MCOTS/MessageNode.js
  src/services/MCServer/MCOTS/NPSMsg.js
  src/services/MCServer/MCOTS/StockCar.js
  src/services/MCServer/MCOTS/StockCarInfoMsg.js
  src/services/MCServer/MCOTS/TCPManager.js
  src/services/MCServer/PersonaServer/NPSPersonaMapsMsg.js
  src/services/MCServer/PersonaServer/PersonaServer.js
  src/services/MCServer/index.js
  src/services/MCServer/listenerThread.js
  src/services/MCServer/npsPacketManager.js
  src/services/PatchAndShard/ShardEntry.js
  src/services/PatchAndShard/patchServer.js
  src/shared/DatabaseManager.js
  src/structures.js
  test/AdminServer.test.js
  test/helpers.js
Due: MCServer, All_Services

fix: don't error if directory exists
  package.json
Due: none

chore: create type def file stub
  src/mco-logger.d.ts
Due: none

refactor: more work on converting to es modules
  src/services/MCServer/MCOTS/LobbyMsg.js
  src/services/MCServer/MCOTS/MCOTServer.js
  src/services/MCServer/index.js
  test/ClientConnectMsg.test.js
  test/ConnectionObj.test.js
  test/GenericReplyMsg.test.js
  test/GenericRequestMsg.test.js
  test/LobbyMsg.test.js
  test/LobbyServer.test.js
  test/LoginMsg.test.js
  test/LoginServer.test.js
  test/MCOTServer.test.js
  test/MessageNode.test.js
  test/NPSPersonaMapsMsg.test.js
  test/PersonaServer.test.js
  test/StockCar.test.js
  test/StockCarInfoMsg.test.js
  test/WebServer.test.js
  test/helpers.js
  test/listenerThread.test.js
  test/npsPacketManager.test.js
  test/npsUserInfo.test.js
Due: MCServer, All_Services

refactor: convert to es module
  app.js
  src/server.js
  src/services/PatchAndShard/patchServer.js
  test/npsUserStatus.test.js
  test/packet.test.js
  test/patchServer.test.js
Due: All_Services

refactor: an even bigger mess
  package.json
  src/services/AdminServer/index.js
  src/services/AuthLogin/auth-login.js
  src/services/LobbyServer/lobby-server.js
  src/services/LobbyServer/nps-user-info.js
  src/services/MCOTS/lobby-msg.js
  src/services/PatchAndShard/patch-server.js
  src/services/PatchAndShard/patchServer.js
  src/services/PatchAndShard/shard-entry.js
  src/services/PersonaServer/persona-server.js
  test/admin-server.test.js
  test/client-connect-msg.test.js
  test/connection-obj.test.js
  test/generic-reply-msg.test.js
  test/generic-request-msg.test.js
  test/listener-thread.test.js
  test/lobby-msg.test.js
  test/lobby-server.test.js
  test/login-msg.test.js
  test/login-server.test.js
  test/mcots-server.test.js
  test/message-node.test.js
  test/nps-packet-manager.test.js
  test/nps-persona-maps-msg.test.js
  test/nps-user-info.test.js
  test/nps-user-status.test.js
  test/packet.test.js
  test/patch-server.test.js
  test/persona-server.test.js
  test/stock-car-info-msg.test.js
  test/stock-car.test.js
  test/web-server.test.js
Due: All_Services

test: tests pass again, how much coverage was lost
  config/index.js
  package.json
  src/services/@drazisil/ssl-options.js
  src/services/AdminServer/index.js
  src/services/AuthLogin/auth-login.js
  test/admin-server.test.js
  test/helpers.js
  test/listener-thread.test.js
  test/persona-server.test.js
  test/ssl-options.test.js
  test/web-server.test.js
Due: All_Services

ci: run tests only, no lint
  .github/workflows/node.yml
Due: none

fix: upgrade the sha hash used for session ids
  src/services/MCServer/encryption-mgr.js
Due: MCServer, All_Services

fix: time modifier not needed for id
  src/services/MCServer/encryption-mgr.js
Due: MCServer, All_Services

fix: correct confusing exports, optimize imports
  src/services/PatchAndShard/patch-server.js
Due: All_Services

fix: correct id hash generation
  src/services/MCServer/encryption-mgr.js
Due: MCServer, All_Services

refactor: remove hashing via crypto
  src/services/MCServer/encryption-mgr.js
Due: MCServer, All_Services

chore: optimize imports
  src/services/PatchAndShard/patch-server.js
Due: All_Services

refactor: only send if valid packet, always return
  src/services/LoginServer/login-server.js
Due: All_Services

refactor: return without temp var, clean exports
  src/services/LoginServer/login-server.js
Due: All_Services

refactor: replace commented code, clean exports
  src/services/MCOTS/lobby-msg.js
Due: All_Services

fix: restore export alias
  src/services/MCOTS/lobby-msg.js
Due: All_Services

chore: add comment
  test/ssl-options.test.js
Due: none

fix: correct ssl options
  app.js
  src/services/AdminServer/index.js
Due: All_Services

chore(deps): update dependency typescript to v4.3.5
  package-lock.json
  package.json
Due: none

ci: switch to codecov uploader
  .github/workflows/node.yml
Due: none

chore(deps): update dependency husky to v7
  package-lock.json
  package.json
Due: none

feat: installer powershell script
  mco-installer.ps1
Due: none

chore(deps): update node.js to v14.17.2
  .nvmrc
Due: none

chore(deps): update dependency @types/verror to v1.10.5
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint to v7.30.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency xo to v0.41.0
  package-lock.json
  package.json
Due: none

chore(deps): update node.js to v14.17.3
  .nvmrc
Due: none

chore(deps): update dependency husky to v7.0.1
  package-lock.json
  package.json
Due: none

chore: remove husky and commitlint
  package.json
Due: none
