Repository rustymotors/server: changes, and which Codecov flags are due for each by the changed paths.
All: MCServer, All_Services, Shared

Convert incoming packet to a MessageNode
  src/services/MCServer/ConnectionMgr.ts
  src/structures.ts
Due: MCServer, All_Services

Update Node.js to v14.16.0
  .nvmrc
Due: none

Update typescript-eslint monorepo to v4.15.2
  npm-shrinkwrap.json
  package.json
Due: none

stuff
  launch.js
  node-cpc.zip
  package.json
  src/services/AdminServer/AdminServer.ts
Due: All_Services

Update dependency @types/tap to v14.10.3
  npm-shrinkwrap.json
  package.json
Due: none

Update dependency eslint to v7.21.0
  npm-shrinkwrap.json
  package.json
Due: none

Update dependency @types/pg to v7.14.11
  npm-shrinkwrap.json
  package.json
Due: none

Update typescript-eslint monorepo to v4.16.1
  npm-shrinkwrap.json
  package.json
Due: none

Update dependency typescript to v4.2.3
  npm-shrinkwrap.json
  package.json
Due: none

Update dependency @types/sinon to v9.0.11
  npm-shrinkwrap.json
  package.json
Due: none

Update dependency @types/node to v14.14.35
  npm-shrinkwrap.json
  package.json
Due: none

Update typescript-eslint monorepo to v4.18.0
  npm-shrinkwrap.json
  package.json
Due: none

Update codecov/codecov-action action to v1.3.1
  .github/workflows/node.yml
Due: none

Update dependency winston-daily-rotate-file to v4.5.1
  npm-shrinkwrap.json
  package.json
Due: none

Update dependency eslint to v7.22.0
  npm-shrinkwrap.json
  package.json
Due: none

refact!: move tests
  .eslintrc.json
  npm-shrinkwrap.json
  package-lock.json
  package.json
  src/services/MCServer/ConnectionMgr.ts
  src/services/MCServer/LobbyServer/LobbyServer.test.ts
  src/services/MCServer/MCOTS/MCOTServer.test.ts
  src/services/MCServer/npsPacketManager.test.ts
  src/services/MCServer/npsPacketManager.ts
  src/services/PatchAndShard/patchServer.test.ts
  src/shared/DatabaseManager.ts
  src/structures.ts
  src/types.ts
  test/AdminServer.test.ts
  test/ClientConnectMsg.test.ts
  test/ConnectionObj.test.ts
  test/GenericReplyMsg.test.ts
  test/GenericRequestMsg.test.ts
  test/LobbyMsg.test.ts
  test/LobbyServer.test.ts
  test/LoginMsg.test.ts
  test/LoginServer.test.ts
  test/MCOTServer.test.ts
  test/MessageNode.test.ts
  test/NPSPersonaMapsMsg.test.ts
  test/PersonaServer.test.ts
  test/StockCar.test.ts
  test/StockCarInfoMsg.test.ts
  test/WebServer.test.ts
  test/listenerThread.test.ts
  test/npsPacketManager.test.ts
  test/npsUserInfo.test.ts
  test/npsUserStatus.test.ts
  test/packet.test.ts
  test/patchServer.test.ts
  tsconfig.json
Due: MCServer, All_Services

Update typescript-eslint monorepo to v4.19.0
  npm-shrinkwrap.json
  package.json
Due: none

scope creep, not even sure
  package-lock.json
  package.json
  src/services/AdminServer/AdminServer.ts
  src/services/AuthLogin/AuthLogin.ts
  src/services/MCServer/ClientConnectMsg.ts
  src/services/MCServer/ConnectionMgr.ts
  src/services/MCServer/ConnectionObj.ts
  src/services/MCServer/EncryptionMgr.ts
  src/services/MCServer/GenericReplyMsg.ts
  src/services/MCServer/GenericRequestMsg.ts
  src/services/MCServer/LobbyServer/LobbyServer.ts
  src/services/MCServer/LoginServer/LoginServer.ts
  src/services/MCServer/LoginServer/npsUserStatus.ts
  src/services/MCServer/MCOTS/LoginMsg.ts
  src/services/MCServer/MCOTS/MessageNode.ts
  src/services/MCServer/MCOTS/NPSMsg.ts
  src/services/MCServer/MCOTS/TCPManager.ts
  src/services/MCServer/PersonaServer/PersonaServer.ts
  src/services/MCServer/listenerThread.ts
  src/shared/DatabaseManager.ts
  test/logger.test.ts
  tsconfig.json
Due: MCServer, All_Services

change to arrow function since we don't need the mocha context
  test/AdminServer.test.ts
  test/ClientConnectMsg.test.ts
  test/ConnectionObj.test.ts
  test/GenericReplyMsg.test.ts
  test/GenericRequestMsg.test.ts
  test/LobbyMsg.test.ts
  test/LobbyServer.test.ts
  test/LoginMsg.test.ts
  test/LoginServer.test.ts
  test/MCOTServer.test.ts
  test/MessageNode.test.ts
  test/NPSPersonaMapsMsg.test.ts
  test/PersonaServer.test.ts
  test/StockCar.test.ts
  test/StockCarInfoMsg.test.ts
  test/WebServer.test.ts
  test/helpers.ts
  test/listenerThread.test.ts
  test/logger.test.ts
  test/npsPacketManager.test.ts
  test/npsUserInfo.test.ts
  test/npsUserStatus.test.ts
  test/packet.test.ts
  test/patchServer.test.ts
Due: none

change test ip to prevent security vector
  test/patchServer.test.ts
Due: none

convert to arrow function
  test/patchServer.test.ts
Due: none

do not await on non async call
  test/PersonaServer.test.ts
Due: none

deep equal the buffers
  test/patchServer.test.ts
Due: none

remove initial value, add gitter for _rawBuffer
  src/structures.ts
Due: none

add python package for update_server
  packages/update_server/.coveragerc
  packages/update_server/.gitattributes
  packages/update_server/.gitignore
  packages/update_server/LICENSE-APACHE
  packages/update_server/LICENSE-MIT
  packages/update_server/MANIFEST.in
  packages/update_server/README.rst
  packages/update_server/pyproject.toml
  packages/update_server/requirements.txt
  packages/update_server/setup.py
  packages/update_server/tests/__init__.py
  packages/update_server/tox.ini
  packages/update_server/update_server/__init__.py
Due: none

this may not stick, attempt to fix pep8 issue
  packages/update_server/setup.py
Due: none

Create python-update-server.yml
  .github/workflows/python-update-server.yml
Due: none

Update python-update-server.yml
  .github/workflows/python-update-server.yml
Due: none

chore: update nvmrc
  .nvmrc
Due: none

chore: update nvmrc (#844)
  .nvmrc
Due: none

chore(deps): update dependency sinon to v10
  package-lock.json
  package.json
Due: none

fix(deps): update dependency @types/node to v14.14.37
  package-lock.json
  package.json
Due: none

Saving more
  src/services/MCServer/GenericReplyMsg.js
  src/services/MCServer/MCOTS/LoginMsg.js
  src/services/MCServer/MCOTS/MCOTServer.js
  src/services/MCServer/MCOTS/MessageNode.js
  src/services/MCServer/MCOTS/TCPManager.js
Due: MCServer, All_Services

saving
  src/services/MCServer/ClientConnectMsg.js
  src/services/MCServer/GenericRequestMsg.js
  src/services/MCServer/LobbyServer/LobbyServer.js
  src/services/MCServer/MCOTS/StockCar.js
  src/services/MCServer/MCOTS/StockCarInfoMsg.js
  src/services/MCServer/npsPacketManager.js
Due: MCServer, All_Services

move hardcoded pass to env
  src/shared/db/index.js
Due: none

saving
  .github/workflows/node.yml
  src/services/MCServer/LobbyServer/LobbyServer.js
  src/services/MCServer/MCOTS/NPSMsg.js
  src/services/MCServer/PersonaServer/NPSPersonaMapsMsg.js
  src/services/MCServer/PersonaServer/PersonaServer.js
  src/shared/db/index.js
Due: All_Services

some ltgm changes
  .github/workflows/node.yml
  src/server.js
  src/services/AdminServer/AdminServer.js
  src/services/MCServer/ConnectionMgr.js
  src/services/MCServer/ConnectionObj.js
  src/services/MCServer/LobbyServer/LobbyServer.js
  src/services/MCServer/MCOTS/MCOTServer.js
  src/services/MCServer/MCOTS/StockCarInfoMsg.js
  src/services/MCServer/MCOTS/TCPManager.js
  src/services/MCServer/index.js
  src/services/MCServer/listenerThread.js
  src/services/MCServer/npsPacketManager.js
  src/shared/db/index.js
  test/WebServer.test.js
Due: MCServer, All_Services

code smells fixes
  src/services/MCServer/ConnectionMgr.js
  src/services/MCServer/LobbyServer/LobbyServer.js
  src/services/MCServer/MCOTS/TCPManager.js
  src/services/MCServer/PersonaServer/PersonaServer.js
  src/shared/DatabaseManager.js
Due: MCServer, All_Services

Path conditions:
  MCServer: any of: src/services/MCServer/*
  All_Services: any of: src/services/**/*
  Shared: any of: src/services/shared/*
