Repository rustymotors/server: changes, and which Codecov flags are due for each by the changed paths.
All: MCServer, All_Services, Shared

Delete .husky directory
  .husky/.gitignore
  .husky/commit-msg
Due: none

chore: remove unused dependencies
  package-lock.json
  package.json
  src/services/MCOTS/lobby-msg.js
Due: All_Services

chore(deps): update dependency @types/node to v14.17.5
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/pg to v8.6.1
  package-lock.json
  package.json
Due: none

ci: only run on v14
  .github/workflows/node.yml
Due: none

chore: coverage config cleanup
  package.json
Due: none

fix: remove trailing comma
  package.json
Due: none

chore: remove xo, change to ts-node, add typedef
  app.ts
  package-lock.json
  package.json
  src/services/@drazisil/mco-logger.d.ts
Due: All_Services

chore: update type defs file
  src/services/@drazisil/mco-logger.d.ts
Due: All_Services

chore: add verbose def
  src/services/@drazisil/mco-logger.d.ts
Due: All_Services

chore: update to version with type defs
  package-lock.json
  package.json
  src/services/@drazisil/mco-logger.d.ts
Due: All_Services

refactor: convert to typescript
  src/server.ts
Due: none

chore(deps): update typescript-eslint monorepo to v4.28.3
  package-lock.json
  package.json
Due: none

test push
  README.md
Due: none

fix(deps): update dependency @drazisil/mco-logger to v1.2.1
  package-lock.json
  package.json
Due: none

chore: add missing interfaces and returns, lint
  .eslintrc.json
  package-lock.json
  package.json
  src/services/@drazisil/ssl-options.ts
  src/services/AdminServer/index.ts
  src/services/AuthLogin/index.ts
  src/services/LobbyServer/index.ts
  src/services/LobbyServer/nps-user-info.ts
  src/services/LoginServer/index.ts
  src/services/LoginServer/nps-user-status.ts
  src/services/LoginServer/packet.ts
  src/services/MCOTS/index.ts
  src/services/MCOTS/lobby-info.ts
  src/services/MCOTS/lobby-msg.ts
  src/services/MCOTS/login-msg.ts
  src/services/MCOTS/message-node.ts
  src/services/MCOTS/nps-msg.ts
  src/services/MCOTS/stock-car-info-msg.ts
  src/services/MCOTS/stock-car.ts
  src/services/MCOTS/tcp-manager.ts
  src/services/MCServer/client-connect-msg.ts
  src/services/MCServer/connection-mgr.ts
  src/services/MCServer/encryption-mgr.ts
  src/services/MCServer/generic-reply-msg.ts
  src/services/MCServer/generic-request-msg.ts
  src/services/MCServer/index.ts
  src/services/MCServer/listener-thread.ts
  src/services/MCServer/nps-packet-manager.ts
  src/services/MCServer/tcpConnection.ts
  src/services/PatchAndShard/patch-server.ts
  src/services/PatchAndShard/shard-entry.ts
  src/services/PersonaServer/nps-persona-maps-msg.ts
  src/services/PersonaServer/persona-server.ts
  src/services/shared/database-manager.ts
  src/structures.ts
  src/types.ts
  test/message-node.test.ts
  test/nps-persona-maps-msg.test.ts
  test/nps-user-info.test.ts
  test/persona-server.test.ts
Due: MCServer, All_Services, Shared

chore: lint and verify tests pass
  package.json
  src/app.ts
  src/server.ts
  src/services/@drazisil/ssl-options.ts
  src/services/AdminServer/index.ts
  src/services/AuthLogin/index.ts
  src/services/LobbyServer/index.ts
  src/services/LobbyServer/nps-user-info.ts
  src/services/LoginServer/index.ts
  src/services/LoginServer/nps-user-status.ts
  src/services/LoginServer/packet.ts
  src/services/MCOTS/index.ts
  src/services/MCOTS/lobby-info.ts
  src/services/MCOTS/lobby-msg.ts
  src/services/MCOTS/login-msg.ts
  src/services/MCOTS/message-node.ts
  src/services/MCOTS/nps-msg.ts
  src/services/MCOTS/stock-car-info-msg.ts
  src/services/MCOTS/stock-car.ts
  src/services/MCOTS/tcp-manager.ts
  src/services/MCServer/client-connect-msg.ts
  src/services/MCServer/connection-mgr.ts
  src/services/MCServer/encryption-mgr.ts
  src/services/MCServer/generic-reply-msg.ts
  src/services/MCServer/generic-request-msg.ts
  src/services/MCServer/index.ts
  src/services/MCServer/listener-thread.ts
  src/services/MCServer/nps-packet-manager.ts
  src/services/MCServer/tcpConnection.ts
  src/services/PatchAndShard/patch-server.ts
  src/services/PatchAndShard/shard-entry.ts
  src/services/PersonaServer/nps-persona-maps-msg.ts
  src/services/PersonaServer/persona-server.ts
  src/services/shared/database-manager.ts
  src/structures.ts
  src/types.ts
  test/helpers.ts
  test/message-node.test.ts
  test/ssl-options.test.ts
Due: MCServer, All_Services, Shared

chore(deps): update dependency eslint to v7.31.0
  package-lock.json
  package.json
Due: none

fix(deps): update dependency @drazisil/mco-logger to v2
  package-lock.json
  package.json
Due: none

fix(deps): update dependency @drazisil/mco-logger to v3
  package-lock.json
  package.json
Due: none

refactor: some formatting, database fixes
  babel.config.json
  config/index.ts
  package.json
  src/services/AdminServer/index.ts
  src/services/LobbyServer/index.ts
  src/services/LoginServer/index.ts
  src/services/LoginServer/nps-user-status.ts
  src/services/MCOTS/lobby-msg.ts
  src/services/MCOTS/login-msg.ts
  src/services/MCOTS/nps-msg.ts
  src/services/MCOTS/stock-car-info-msg.ts
  src/services/MCOTS/tcp-manager.ts
  src/services/MCServer/client-connect-msg.ts
  src/services/MCServer/connection-mgr.ts
  src/services/MCServer/generic-reply-msg.ts
  src/services/MCServer/generic-request-msg.ts
  src/services/MCServer/nps-packet-manager.ts
  src/services/PersonaServer/persona-server.ts
  src/services/shared/database-manager.ts
  tsconfig.json
Due: MCServer, All_Services, Shared

chore: update mco-logger and calls
  package-lock.json
  package.json
  src/app.ts
  src/server.ts
  src/services/@drazisil/ssl-options.ts
  src/services/AdminServer/index.ts
  src/services/AuthLogin/index.ts
  src/services/LobbyServer/index.ts
  src/services/LobbyServer/nps-user-info.ts
  src/services/LoginServer/index.ts
  src/services/LoginServer/nps-user-status.ts
  src/services/MCOTS/index.ts
  src/services/MCOTS/lobby-msg.ts
  src/services/MCOTS/login-msg.ts
  src/services/MCOTS/message-node.ts
  src/services/MCOTS/nps-msg.ts
  src/services/MCOTS/stock-car-info-msg.ts
  src/services/MCOTS/stock-car.ts
  src/services/MCOTS/tcp-manager.ts
  src/services/MCServer/client-connect-msg.ts
  src/services/MCServer/connection-mgr.ts
  src/services/MCServer/generic-reply-msg.ts
  src/services/MCServer/generic-request-msg.ts
  src/services/MCServer/index.ts
  src/services/MCServer/listener-thread.ts
  src/services/MCServer/nps-packet-manager.ts
  src/services/PatchAndShard/patch-server.ts
  src/services/PersonaServer/nps-persona-maps-msg.ts
  src/services/PersonaServer/persona-server.ts
  src/services/shared/database-manager.ts
Due: MCServer, All_Services, Shared

refactor: create singletons
  jest.config.js
  package.json
  src/app.ts
  src/server.ts
  src/services/LobbyServer/index.ts
  src/services/LoginServer/index.ts
  src/services/MCOTS/tcp-manager.ts
  src/services/MCServer/connection-mgr.ts
  src/services/MCServer/index.ts
  src/services/MCServer/listener-thread.ts
  src/services/MCServer/nps-packet-manager.ts
  src/services/MCServer/tcpConnection.ts
  src/services/shared/database-manager.ts
  test/admin-server.test.ts
  test/connection-obj.test.ts
  test/helpers.ts
  test/listener-thread.test.ts
  test/login-server.test.ts
  test/nps-packet-manager.test.ts
  test/persona-server.test.ts
  test/ssl-options.test.ts
Due: MCServer, All_Services, Shared

chore: lint and optimize
  jest.config.js
  src/services/LobbyServer/index.ts
  src/services/MCServer/connection-mgr.ts
  src/services/MCServer/index.ts
  src/services/MCServer/listener-thread.ts
  src/services/MCServer/nps-packet-manager.ts
  src/services/shared/database-manager.ts
  test/listener-thread.test.ts
  test/ssl-options.test.ts
Due: MCServer, All_Services, Shared

chore: remove code smells
  src/services/MCServer/connection-mgr.ts
  test/connection-obj.test.ts
Due: MCServer, All_Services

chore(deps): update dependency @typescript-eslint/parser to v4.28.4
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @typescript-eslint/eslint-plugin to v4.28.4
  package-lock.json
  package.json
Due: none

chore: add ts-node for dev
  package-lock.json
  package.json
Due: none

refactor: rename server.ts
  src/MCOServer.ts
Due: none

refactor: start work on patch service
  src/app.ts
  src/services/@drazisil/mco-patch/index.ts
  src/services/@drazisil/mco-patch/server.config.js
  src/services/PatchAndShard/patch-server.ts
  test/patch-server.test.ts
Due: All_Services

chore: improve logging
  src/services/@drazisil/mco-patch/index.ts
Due: All_Services

refactor: start making auth a service
  src/app.ts
  src/services/@drazisil/mco-auth/data/mcouniverse.cnf
  src/services/@drazisil/mco-auth/data/mcouniverse.crt
  src/services/@drazisil/mco-auth/data/private_key.pem
  src/services/@drazisil/mco-auth/data/pub.key
  src/services/@drazisil/mco-auth/index.ts
  src/services/@drazisil/mco-auth/server.config.js
  src/services/AuthLogin/index.ts
  test/web-server.test.ts
Due: All_Services

refactor: change shard server to a service
  src/app.ts
  src/services/@drazisil/mco-auth/index.ts
  src/services/@drazisil/mco-patch/index.ts
  src/services/@drazisil/mco-shard/index.ts
  src/services/@drazisil/mco-shard/server.config.js
  src/services/@drazisil/mco-shard/shard-entry.ts
  src/services/PatchAndShard/patch-server.ts
  test/patch-server.test.ts
  test/shard-server.test.ts
Due: All_Services

test: move tests alongside service
  src/services/@drazisil/mco-auth/web-server.test.ts
  src/services/@drazisil/mco-patch/patch-server.test.ts
  src/services/@drazisil/mco-shard/shard-server.test.ts
  src/services/@drazisil/ssl-options.test.ts
Due: All_Services

chore(deps): update babel monorepo to v7.14.8
  package-lock.json
  package.json
Due: none

refactor: create start of router service
  package-lock.json
  package.json
  src/app.ts
  src/services/@drazisil/mco-auth/index.ts
  src/services/@drazisil/mco-route/data/mcouniverse.cnf
  src/services/@drazisil/mco-route/data/mcouniverse.crt
  src/services/@drazisil/mco-route/data/private_key.pem
  src/services/@drazisil/mco-route/data/pub.key
  src/services/@drazisil/mco-route/index.ts
  src/services/@drazisil/mco-route/server.config.js
  src/services/@drazisil/mco-types/index.ts
  src/services/LobbyServer/index.ts
  src/services/MCServer/nps-packet-manager.ts
  src/services/PersonaServer/persona-server.ts
  test/persona-server.test.ts
Due: MCServer, All_Services

chore(deps): update dependency ts-jest to v27.0.4
  package-lock.json
  package.json
Due: none

refactor: working logs. somewhat
  package-lock.json
  package.json
  src/services/@drazisil/mco-auth/index.ts
  src/services/@drazisil/mco-route/index.ts
  src/services/@drazisil/mco-types/index.ts
Due: All_Services

Path conditions:
  MCServer: any of: src/services/MCServer/*
  All_Services: any of: src/services/**/*
  Shared: any of: src/services/shared/*
