Repository rustymotors/server: changes, and which Codecov flags are due for each by the changed paths.
All: MCServer, All_Services, Shared

chore(deps): update dependency ts-node to v10.2.0
  package-lock.json
  package.json
Due: none

Repo visualizer: updated diagram
  diagram.svg
Due: none

chore(deps): update githubocto/repo-visualizer action to v0.4.0
  .github/workflows/create-diagram.yml
Due: none

chore(deps): update typescript-eslint monorepo to v4.29.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency supertest to v6.1.5
  package-lock.json
  package.json
Due: none

chore(deps): update node.js to v14.17.5
  .nvmrc
Due: none

chore(deps): update githubocto/repo-visualizer action to v0.5.0
  .github/workflows/create-diagram.yml
Due: none

chore(deps): update postgres docker tag to v13.4
  docker-compose.yml
Due: none

downgrade sqlite for security, switch config to ts
  npm-shrinkwrap.json
  package.json
  src/services/@drazisil/mco-auth/index.ts
  src/services/@drazisil/mco-auth/server.config.ts
  src/services/@drazisil/mco-patch/index.ts
  src/services/@drazisil/mco-patch/server.config.ts
  src/services/@drazisil/mco-route/server.config.ts
  src/services/@drazisil/mco-shard/index.ts
  src/services/@drazisil/mco-shard/server.config.ts
Due: All_Services

create real test for shard server
  src/services/@drazisil/mco-auth/web-server.test.ts
Due: All_Services

add return type
  src/services/@drazisil/mco-common/index.ts
Due: All_Services

this file isn't used
  src/services/@drazisil/mco-route/server.config.ts
Due: All_Services

Update package.json
  package.json
Due: none

Update renovate.json
  renovate.json
Due: none

fix(deps): update dependency sqlite3 to v5
  npm-shrinkwrap.json
  package.json
Due: none

shard server does need to handle these methods
  src/services/@drazisil/mco-shard/data/mcouniverse.cnf
  src/services/@drazisil/mco-shard/data/mcouniverse.crt
  src/services/@drazisil/mco-shard/data/private_key.pem
  src/services/@drazisil/mco-shard/data/pub.key
  src/services/@drazisil/mco-shard/index.ts
  src/services/@drazisil/mco-shard/server.config.ts
Due: All_Services

todo: need central settings system for services
  config/index.ts
  src/services/@drazisil/mco-auth/server.config.ts
  src/services/@drazisil/mco-patch/server.config.ts
  src/services/@drazisil/mco-proxy/index.ts
  src/services/@drazisil/mco-route/index.ts
Due: All_Services

return
  src/services/shared/database-manager.ts
Due: All_Services, Shared

attempt to fix circular reference
  src/services/MCServer/connection-mgr.ts
Due: MCServer, All_Services

remove unused imports
  src/app.ts
Due: none

chore(deps): update typescript-eslint monorepo to v4.29.2
  npm-shrinkwrap.json
  package.json
Due: none

chore(deps): update dependency ts-jest to v27.0.5
  npm-shrinkwrap.json
  package.json
Due: none

chore(deps): update githubocto/repo-visualizer action to v0.6.1
  .github/workflows/create-diagram.yml
Due: none

chore(deps): update dependency ts-node to v10.2.1
  npm-shrinkwrap.json
  package.json
Due: none

chore(deps): update dependency @types/node to v14.17.10
  npm-shrinkwrap.json
  package.json
Due: none

Path conditions:
  MCServer: any of: src/services/MCServer/*
  All_Services: any of: src/services/**/*
  Shared: any of: src/services/shared/*
