Repository rustymotors/server: changes, and which Codecov flags are due for each by the changed paths.
All: MCServer, All_Services, Shared

.codecov.yml:

flags:
  MCServer:
    paths:
      - src/services/MCServer/*
    carryforward: false
  All_Services:
    paths:
      - src/services/**/*
    carryforward: false
  Shared:
    paths:
      - src/services/shared/*
    carryforward: false

await inside a try catch
  src/services/MCServer/MCOTS/TCPManager.js
Due: All_Services

saving
  src/services/MCServer/LobbyServer/npsUserInfo.js
  src/services/MCServer/LoginServer/LoginServer.js
  src/services/MCServer/LoginServer/npsUserStatus.js
  src/services/MCServer/LoginServer/packet.js
  src/structures.js
  src/types.js
Due: All_Services

saved!
  src/services/AuthLogin/AuthLogin.js
  src/services/MCServer/LoginServer/LoginServer.js
  src/services/MCServer/MCOTS/LobbyInfo.js
  src/services/MCServer/MCOTS/LobbyMsg.js
  src/services/MCServer/MCOTS/MessageNode.js
  src/services/MCServer/MCOTS/NPSMsg.js
  src/services/PatchAndShard/ShardEntry.js
  src/services/PatchAndShard/patchServer.js
  test/ClientConnectMsg.test.js
  test/ConnectionObj.test.js
  test/GenericReplyMsg.test.js
  test/GenericRequestMsg.test.js
  test/LobbyMsg.test.js
  test/LobbyServer.test.js
  test/LoginMsg.test.js
  test/LoginServer.test.js
  test/MCOTServer.test.js
  test/MessageNode.test.js
  test/NPSPersonaMapsMsg.test.js
  test/PersonaServer.test.js
  test/StockCar.test.js
  test/StockCarInfoMsg.test.js
  test/WebServer.test.js
  test/helpers.js
  test/listenerThread.test.js
  test/logger.test.js
  test/npsPacketManager.test.js
  test/npsUserInfo.test.js
  test/npsUserStatus.test.js
  test/packet.test.js
  test/patchServer.test.js
Due: All_Services

remove uncalled file
  src/services/MCServer/PersonaServer/PersonaRecord.ts
Due: All_Services

class cleanup
  src/structures.js
Due: none

chore(deps): update dependency @types/supertest to v2.0.11
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/chai to v4.2.16
  package-lock.json
  package.json
Due: none

chore(deps): update codecov/codecov-action action to v1.3.2
  .github/workflows/node.yml
Due: none

Change to js
  package.json
Due: none

Update app.js
  app.js
Due: none

Update server.js
  src/server.js
Due: none

Change to js (#849)
  app.js
  package.json
  src/server.js
Due: none

move make certs command to makefile
  Makefile
  scripts/make_certs.sh
Due: none

Rename codecov.yml to .github/codecov.yml
  .github/codecov.yml
Due: none

move make certs command to makefile (#850)
  Makefile
  scripts/make_certs.sh
Due: none

Rename codecov.yml to .github/codecov.yml (#851)
  .github/codecov.yml
Due: none

name the codecov uploads
  .github/workflows/node.yml
Due: none

name the codecov uploads (#852)
  .github/workflows/node.yml
Due: none

fix(deps): update dependency winston-daily-rotate-file to v4.5.2
  package-lock.json
  package.json
Due: none

add service field to tcpmanager logs
  src/services/MCServer/MCOTS/TCPManager.js
Due: All_Services

add correct type to logger
  src/shared/logger.js
Due: none

fix(deps): update dependency typescript to v4.2.4
  package-lock.json
  package.json
Due: none

corect service name for logger
  src/services/MCServer/npsPacketManager.js
Due: MCServer, All_Services

formatting
  src/services/MCServer/PersonaServer/PersonaServer.js
Due: All_Services

corect coverage settings
  package-lock.json
  package.json
Due: none

remove circular require
  src/services/MCServer/ConnectionObj.js
Due: MCServer, All_Services

remove final typescript mentions
  launch.js
  package-lock.json
  package.json
Due: none

exclude the app launchers
  package.json
Due: none

test if deepcode accept this form of jsdoc
  src/services/MCServer/ConnectionObj.js
Due: MCServer, All_Services

improve jsdocs
  src/server.js
  src/services/AdminServer/AdminServer.js
  src/services/AuthLogin/AuthLogin.js
  src/services/MCServer/ClientConnectMsg.js
  src/services/MCServer/ConnectionMgr.js
  src/services/MCServer/GenericReplyMsg.js
  src/services/MCServer/GenericRequestMsg.js
  src/services/MCServer/LobbyServer/npsUserInfo.js
  src/services/MCServer/LoginServer/LoginServer.js
  src/services/MCServer/LoginServer/npsUserStatus.js
  src/services/MCServer/MCOTS/LoginMsg.js
  src/services/MCServer/MCOTS/MCOTServer.js
  src/services/MCServer/MCOTS/NPSMsg.js
  src/services/MCServer/MCOTS/StockCar.js
  src/services/MCServer/MCOTS/StockCarInfoMsg.js
  src/services/MCServer/PersonaServer/NPSPersonaMapsMsg.js
  src/services/MCServer/PersonaServer/PersonaServer.js
  src/services/MCServer/index.js
  src/services/MCServer/listenerThread.js
  src/services/MCServer/npsPacketManager.js
  src/services/PatchAndShard/patchServer.js
  src/shared/DatabaseManager.js
  src/shared/db/index.js
  src/shared/logger.js
  src/types.js
Due: MCServer, All_Services

better type management
  src/services/MCServer/ConnectionMgr.js
  src/services/MCServer/ConnectionObj.js
  src/services/MCServer/index.js
  src/services/MCServer/npsPacketManager.js
  test/helpers.js
  test/npsPacketManager.test.js
Due: MCServer, All_Services

remove taprc
  .taprc
Due: none

Logs cleanups (#856)
  .taprc
  launch.js
  package-lock.json
  package.json
  src/server.js
  src/services/AdminServer/AdminServer.js
  src/services/AuthLogin/AuthLogin.js
  src/services/MCServer/ClientConnectMsg.js
  src/services/MCServer/ConnectionMgr.js
  src/services/MCServer/ConnectionObj.js
  src/services/MCServer/GenericReplyMsg.js
  src/services/MCServer/GenericRequestMsg.js
  src/services/MCServer/LobbyServer/npsUserInfo.js
  src/services/MCServer/LoginServer/LoginServer.js
  src/services/MCServer/LoginServer/npsUserStatus.js
  src/services/MCServer/MCOTS/LoginMsg.js
  src/services/MCServer/MCOTS/MCOTServer.js
  src/services/MCServer/MCOTS/NPSMsg.js
  src/services/MCServer/MCOTS/StockCar.js
  src/services/MCServer/MCOTS/StockCarInfoMsg.js
  src/services/MCServer/MCOTS/TCPManager.js
  src/services/MCServer/PersonaServer/NPSPersonaMapsMsg.js
  src/services/MCServer/PersonaServer/PersonaServer.js
  src/services/MCServer/index.js
  src/services/MCServer/listenerThread.js
  src/services/MCServer/npsPacketManager.js
  src/services/PatchAndShard/patchServer.js
  src/shared/DatabaseManager.js
  src/shared/db/index.js
  src/shared/logger.js
  src/types.js
  test/helpers.js
  test/npsPacketManager.test.js
Due: MCServer, All_Services

start of mcoproxy
  package.json
  src/services/MCOProxy/proxy.js
  src/services/MCOProxy/proxy.test.js
Due: All_Services

note for deepcode
  src/services/MCOProxy/proxy.js
Due: All_Services

fully test mcoproxy so far
  src/services/MCOProxy/proxy.js
  src/services/MCOProxy/proxy.test.js
Due: All_Services

remove 10.x and add 15.x
  .github/workflows/node.yml
Due: none

chore(deps): update dependency @types/sinon to v10
  package-lock.json
  package.json
Due: none
