Repository rustymotors/server: changes, and which Codecov flags are due for each by the changed paths.
All: MCServer, All_Services, Shared

Remove snyk (#802)
  npm-shrinkwrap.json
  package.json
Due: none

Update dependency sequelize to v6.5.0
  npm-shrinkwrap.json
  package.json
Due: none

Update Node.js to v10.23.2
  .nvmrc
Due: none

Line endings and version update
  .nvmrc
  scripts/make_certs.sh
Due: none

Rename branch
  .github/workflows/node.yml
Due: none

Update dependency supertest to v6.1.3
  npm-shrinkwrap.json
  package.json
Due: none

Update dependency supports-color to v8.1.1
  npm-shrinkwrap.json
  package.json
Due: none

Remove sequelize
  npm-shrinkwrap.json
  package.json
  src/services/MCServer/LobbyServer/LobbyServer.js
  src/services/MCServer/MCOTS/TCPManager.js
  src/shared/databaseManager.js
Due: All_Services

Remove sequelize (#808)
  npm-shrinkwrap.json
  package.json
  src/services/MCServer/LobbyServer/LobbyServer.js
  src/services/MCServer/MCOTS/TCPManager.js
  src/shared/databaseManager.js
Due: All_Services

Update dependency sinon to v9.2.4
  npm-shrinkwrap.json
  package.json
Due: none

Typo
  src/services/PatchAndShard/patchServer.js
Due: All_Services

Rename debug to match logger
  src/services/AuthLogin/AuthLogin.js
Due: All_Services

Make executable
  scripts/make_certs.sh
Due: none

Correct line ending
  scripts/make_certs.sh
Due: none

Move downloads to PatchServer
  src/services/AuthLogin/AuthLogin.js
  src/services/PatchAndShard/patchServer.js
Due: All_Services

Update doc
  docs/client.md
Due: none

Correct key
  config/app-settings.js
Due: none

Saving. Many changes, most are logging and keys
  .gitignore
  config/app_settings.ini
  data/cert.pem
  data/private_key.pem
  data/pub.key
  docs/client.md
  jsconfig.json
  npm-shrinkwrap.json
  package.json
  scripts/make_certs.sh
  src/services/AdminServer/AdminServer.js
  src/services/MCServer/ClientConnectMsg.js
  src/services/MCServer/ConnectionMgr.js
  src/services/MCServer/ConnectionObj.js
  src/services/MCServer/GenericReplyMsg.js
  src/services/MCServer/GenericRequestMsg.js
  src/services/MCServer/LoginServer/LoginServer.js
  src/services/MCServer/LoginServer/npsUserStatus.js
  src/services/MCServer/MCOTS/LobbyMsg.js
  src/services/MCServer/MCOTS/LoginMsg.js
  src/services/MCServer/MCOTS/MessageNode.js
  src/services/MCServer/MCOTS/NPSMsg.js
  src/services/MCServer/MCOTS/TCPManager.js
  src/services/MCServer/PersonaServer/PersonaServer.js
  src/services/MCServer/index.js
  src/services/MCServer/listenerThread.js
  src/services/MCServer/npsPacketManager.js
  src/services/PatchAndShard/patchServer.js
Due: MCServer, All_Services

It works...again.
  src/services/MCServer/ConnectionMgr.js
  src/services/MCServer/LobbyServer/LobbyServer.js
  src/services/MCServer/LoginServer/LoginServer.js
  src/services/MCServer/MCOTS/MessageNode.js
  src/services/MCServer/MCOTS/TCPManager.js
  src/services/MCServer/PersonaServer/PersonaServer.js
  src/shared/databaseManager.js
Due: MCServer, All_Services

Annotate deepcode http warning
  src/services/AdminServer/AdminServer.js
  src/services/AuthLogin/AuthLogin.js
Due: All_Services

Improve modularity
  app.js
  docker-compose.yml
  src/server.js
  src/services/MCServer/ConnectionMgr.js
  src/services/MCServer/LobbyServer/LobbyServer.js
  src/services/MCServer/MCOTS/LobbyMsg.js
  src/services/MCServer/MCOTS/MessageNode.js
  src/services/MCServer/MCOTS/TCPManager.js
  src/services/MCServer/index.js
  src/services/MCServer/listenerThread.js
  src/services/PatchAndShard/patchServer.js
  src/shared/databaseManager.js
Due: MCServer, All_Services

It's testable again.
  npm-shrinkwrap.json
  package.json
  src/services/MCServer/index.js
  src/services/MCServer/listenerThread.js
  src/shared/logger.js
  test/helpers.js
  test/services/AdminServer/AdminServer.test.js
  test/services/MCServer/ConnectionObj.test.js
  test/services/MCServer/listenerThread.test.js
  test/services/PatchAndShard/patchServer.test.js
Due: MCServer, All_Services

Permit node to open port 80
  .github/workflows/node.yml
Due: none

Add test for dumpPacket()
  test/services/MCServer/MCOTS/MessageNode.test.js
Due: none

Add @class tag
  src/services/MCServer/listenerThread.js
Due: MCServer, All_Services

Correct jsdoc errors
  src/services/MCServer/LoginServer/LoginServer.js
  src/shared/databaseManager.js
Due: All_Services

Remove import in jsdocs
  src/services/AdminServer/AdminServer.js
  src/services/MCServer/ConnectionMgr.js
  src/services/MCServer/LobbyServer/LobbyServer.js
Due: MCServer, All_Services

Fix jsdocs errors
  src/services/AuthLogin/AuthLogin.js
  src/services/MCServer/ConnectionObj.js
  src/services/MCServer/LobbyServer/LobbyServer.js
  src/services/MCServer/LoginServer/LoginServer.js
  src/services/MCServer/PersonaServer/PersonaServer.js
  src/services/MCServer/npsPacketManager.js
  src/shared/databaseManager.js
  src/shared/db/index.js
Due: MCServer, All_Services

Fix circular dependencies
  src/services/MCServer/ConnectionMgr.js
  src/services/MCServer/ConnectionObj.js
  src/services/MCServer/LobbyServer/LobbyServer.js
  src/services/MCServer/LoginServer/LoginServer.js
  src/services/MCServer/MCOTS/MCOTServer.js
  src/services/MCServer/MCOTS/TCPManager.js
  src/services/MCServer/PersonaServer/PersonaServer.js
  src/services/MCServer/npsPacketManager.js
Due: MCServer, All_Services

Correct return tag
  src/services/PatchAndShard/patchServer.js
Due: All_Services

Corect return tags
  src/services/AuthLogin/AuthLogin.js
  src/services/MCServer/MCOTS/MCOTServer.js
  src/services/MCServer/MCOTS/TCPManager.js
Due: All_Services

Fix jsdocs tags
  src/services/MCServer/listenerThread.js
  src/services/PatchAndShard/patchServer.js
Due: MCServer, All_Services

lots of improved jsdocs
  config/app-settings.js
  src/server.js
  src/services/AdminServer/AdminServer.js
  src/services/AuthLogin/AuthLogin.js
  src/services/MCServer/ConnectionObj.js
  src/services/MCServer/EncryptionMgr.js
  src/services/MCServer/LobbyServer/LobbyServer.js
  src/services/MCServer/LoginServer/LoginServer.js
  src/services/MCServer/MCOTS/MCOTServer.js
  src/services/MCServer/MCOTS/MessageNode.js
  src/services/MCServer/MCOTS/NPSMsg.js
  src/services/MCServer/MCOTS/TCPManager.js
  src/services/MCServer/index.js
  src/services/MCServer/listenerThread.js
  src/services/PatchAndShard/patchServer.js
  src/shared/databaseManager.js
  src/shared/logger.js
  src/types.js
Due: MCServer, All_Services

Last push before merge
  src/services/MCServer/ConnectionMgr.js
  src/services/PatchAndShard/patchServer.js
  test/services/PatchAndShard/patchServer.test.js
Due: MCServer, All_Services

Correct jsdocs
  test/services/PatchAndShard/patchServer.test.js
Due: none

No dupes
  test/services/PatchAndShard/patchServer.test.js
Due: none

Update Node.js to v14.15.5
  .nvmrc
  npm-shrinkwrap.json
  package.json
Due: none

Remove node engine requirement
  package.json
Due: none

Path conditions:
  MCServer: any of: src/services/MCServer/*
  All_Services: any of: src/services/**/*
  Shared: any of: src/services/shared/*
