Repository rustymotors/server: changes, and which Codecov flags are due for each by the changed paths.
All: MCServer, All_Services, Shared

.codecov.yml:

flags:
  MCServer:
    paths:
      - src/services/MCServer/*
    carryforward: false
  All_Services:
    paths:
      - src/services/**/*
    carryforward: false
  Shared:
    paths:
      - src/services/shared/*
    carryforward: false

Remove node engine requirement (#811)
  package.json
Due: none

Remove unused function
  test/helpers.js
Due: none

Final jsdocs
  src/services/MCServer/MCOTS/LobbyInfo.js
  src/services/MCServer/index.js
  src/types.js
Due: MCServer, All_Services

Update dependency eslint to v7.20.0
  npm-shrinkwrap.json
  package.json
Due: none

Update postgres Docker tag to v11.11
  docker-compose.yml
Due: none

Proactive saving
  src/services/MCServer/MCOTS/MCOTServer.js
  src/services/MCServer/MCOTS/MessageNode.js
  src/services/MCServer/MCOTS/TCPManager.js
Due: All_Services

Some structures
  docs/reference/structures.js
Due: none

Add structures
  docs/reference/structures.js
Due: none

Packets (#816)
  docs/reference/structures.js
  src/services/MCServer/MCOTS/MCOTServer.js
  src/services/MCServer/MCOTS/MessageNode.js
  src/services/MCServer/MCOTS/TCPManager.js
Due: All_Services

Update dependency @types/node to v14.14.30
  npm-shrinkwrap.json
  package.json
Due: none

Tests pass
  .taprc
  jsconfig.json
  map.js
  package.json
  src/services/AdminServer/AdminServer.ts
  src/services/AuthLogin/AuthLogin.ts
  src/services/MCServer/ConnectionMgr.ts
  src/services/MCServer/ConnectionObj.ts
  src/services/MCServer/MCOTS/LoginMsg.ts
  src/services/MCServer/PersonaServer/NPSPersonaMapsMsg.test.ts
  src/services/MCServer/PersonaServer/NPSPersonaMapsMsg.ts
  src/services/MCServer/PersonaServer/PersonaServer.test.ts
  src/services/MCServer/listenerThread.ts
  src/services/PatchAndShard/ShardEntry.ts
  src/shared/db/index.ts
  src/types.ts
Due: MCServer, All_Services

Final coverage and test fixes
  .taprc
  src/server.ts
  src/services/MCServer/ClientConnectMsg.ts
  src/services/MCServer/EncryptionMgr.ts
  src/services/MCServer/GenericReplyMsg.ts
  src/services/MCServer/GenericRequestMsg.ts
  src/services/MCServer/LobbyServer/LobbyServer.ts
  src/services/MCServer/LobbyServer/npsUserInfo.ts
  src/services/MCServer/LoginServer/LoginServer.test.ts
  src/services/MCServer/LoginServer/LoginServer.ts
  src/services/MCServer/LoginServer/npsUserStatus.ts
  src/services/MCServer/LoginServer/packet.ts
  src/services/MCServer/MCOTS/LobbyMsg.ts
  src/services/MCServer/index.ts
  src/services/MCServer/listenerThread.test.ts
  src/services/MCServer/listenerThread.ts
  src/services/MCServer/npsPacketManager.ts
  src/types.ts
Due: MCServer, All_Services

Change unknown to string
  src/shared/db/index.ts
Due: none

lgtm fixes
  src/services/MCServer/listenerThread.ts
Due: MCServer, All_Services

Saving
  app.js
  app.ts
  docs/reference/structures.js
  migrations/1-2.sql
  npm-shrinkwrap.json
  package.json
  src/services/AdminServer/AdminServer.ts
  src/services/AuthLogin/AuthLogin.ts
  src/services/MCServer/ClientConnectMsg.ts
  src/services/MCServer/ConnectionMgr.ts
  src/services/MCServer/ConnectionObj.ts
  src/services/MCServer/EncryptionMgr.ts
  src/services/MCServer/GenericReplyMsg.ts
  src/services/MCServer/GenericRequestMsg.ts
  src/services/MCServer/LobbyServer/LobbyServer.ts
  src/services/MCServer/LoginServer/LoginServer.ts
  src/services/MCServer/LoginServer/npsUserStatus.ts
  src/services/MCServer/MCOTS/LoginMsg.ts
  src/services/MCServer/MCOTS/MCOTServer.ts
  src/services/MCServer/MCOTS/MessageNode.ts
  src/services/MCServer/MCOTS/NPSMsg.ts
  src/services/MCServer/MCOTS/TCPManager.ts
  src/services/MCServer/PersonaServer/NPSPersonaMapsMsg.ts
  src/services/MCServer/PersonaServer/PersonaServer.test.ts
  src/services/MCServer/PersonaServer/PersonaServer.ts
  src/services/MCServer/listenerThread.ts
  src/services/MCServer/npsPacketManager.ts
  src/shared/DatabaseManager.ts
  src/types.ts
Due: MCServer, All_Services

Move and convert to ts
  src/structures.ts
Due: none

add module attribute
  src/structures.ts
Due: none

Saving
  app.ts
  src/services/MCServer/ConnectionMgr.ts
  src/services/MCServer/MCOTS/MCOTServer.ts
  src/services/MCServer/MCOTS/TCPManager.ts
  src/services/MCServer/listenerThread.ts
  src/services/PatchAndShard/patchServer.ts
  src/structures.ts
  src/types.ts
Due: MCServer, All_Services

Rename
  src/structures.ts
  src/types.ts
Due: none

Adding types and better logging (#822)
  app.js
  app.ts
  docs/reference/structures.js
  migrations/1-2.sql
  npm-shrinkwrap.json
  package.json
  src/services/AdminServer/AdminServer.ts
  src/services/AuthLogin/AuthLogin.ts
  src/services/MCServer/ClientConnectMsg.ts
  src/services/MCServer/ConnectionMgr.ts
  src/services/MCServer/ConnectionObj.ts
  src/services/MCServer/EncryptionMgr.ts
  src/services/MCServer/GenericReplyMsg.ts
  src/services/MCServer/GenericRequestMsg.ts
  src/services/MCServer/LobbyServer/LobbyServer.ts
  src/services/MCServer/LoginServer/LoginServer.ts
  src/services/MCServer/LoginServer/npsUserStatus.ts
  src/services/MCServer/MCOTS/LoginMsg.ts
  src/services/MCServer/MCOTS/MCOTServer.ts
  src/services/MCServer/MCOTS/MessageNode.ts
  src/services/MCServer/MCOTS/NPSMsg.ts
  src/services/MCServer/MCOTS/TCPManager.ts
  src/services/MCServer/PersonaServer/NPSPersonaMapsMsg.ts
  src/services/MCServer/PersonaServer/PersonaServer.test.ts
  src/services/MCServer/PersonaServer/PersonaServer.ts
  src/services/MCServer/listenerThread.ts
  src/services/MCServer/npsPacketManager.ts
  src/services/PatchAndShard/patchServer.ts
  src/shared/DatabaseManager.ts
  src/structures.ts
  src/types.ts
Due: MCServer, All_Services

Update dependency @types/node to v14.14.31
  npm-shrinkwrap.json
  package.json
Due: none

Pin dependencies
  npm-shrinkwrap.json
  package.json
Due: none

Update dependency @types/pg to v7.14.10
  npm-shrinkwrap.json
  package.json
Due: none

Add SonarScan
  .github/workflows/node.yml
Due: none

Add settings
  .github/workflows/node.yml
Due: none

Create sonar-project.properties
  sonar-project.properties
Due: none

Update node.yml
  .github/workflows/node.yml
Due: none

Add SonarScan (#823)
  sonar-project.properties
Due: none

no-shadow
  src/services/MCServer/npsPacketManager.ts
Due: MCServer, All_Services

no-shadow (#824)
  src/services/MCServer/npsPacketManager.ts
Due: MCServer, All_Services

Add msgHead
  src/structures.ts
Due: none

Convert msgHead and MessageNode to classes
  src/structures.ts
Due: none

Update dependency typescript to v4.2.2
  npm-shrinkwrap.json
  package.json
Due: none
