Repository rustymotors/server: changes, and which Codecov flags are due for each by the changed paths.
All: MCServer, All_Services, Shared

.codecov.yml:

flags:
  MCServer:
    paths:
      - src/services/MCServer/*
    carryforward: false
  All_Services:
    paths:
      - src/services/**/*
    carryforward: false
  Shared:
    paths:
      - src/services/shared/*
    carryforward: false

Update
  npm-shrinkwrap.json
Due: none

Formatting
  test/helpers.js
Due: none

Update dependency snyk to v1.437.1
  npm-shrinkwrap.json
  package.json
Due: none

JSDoc fixes
  src/services/MCServer/LoginServer/packet.js
  src/services/PatchAndShard/patchServer.js
Due: All_Services

Update codecov/codecov-action action to v1.1.0
  .github/workflows/node.yml
Due: none

Update actions/setup-node action to v2
  .github/workflows/node.yml
Due: none

Update codecov/codecov-action action to v1.1.1
  .github/workflows/node.yml
Due: none

Update dependency snyk to v1.437.3
  npm-shrinkwrap.json
  package.json
Due: none

Update dependency @types/node to v14.14.14
  npm-shrinkwrap.json
  package.json
Due: none

Update dependency @types/node to v14.14.16
  npm-shrinkwrap.json
  package.json
Due: none

Update dependency sinon to v9.2.3
  npm-shrinkwrap.json
  package.json
Due: none

Delete SSL keys and certs
  data/cert.pem
  data/private_key.pem
  data/pub.key
Due: none

Delete the sample registry file
  data/sample.reg
Due: none

Delete unused nginx config
  data/default.conf
Due: none

Delete unneeded placeholder
  data/.gitkeep
Due: none

Move reference files to seperate directory
  docs/reference/export.psql
  docs/reference/packets.txt
Due: none

Move docker files to seperate directory
  dockerfiles/Dockerfile
  dockerfiles/docker-compose.yml
Due: none

Delete graylog configs
  graylog/config/graylog.conf
  graylog/config/log4j2.xml
  graylog/config/node-id
Due: none

Dockument ports and remove docker-conpose
  dockerfiles/Dockerfile
  dockerfiles/docker-compose.yml
  docs/server.md
  package.json
Due: none

Add debug to start script
  package.json
Due: none

Adding logging and failure for missing files
  package.json
  src/services/AdminServer/AdminServer.js
  src/services/AuthLogin/AuthLogin.js
  src/services/MCServer/index.js
Due: MCServer, All_Services

Init vars
  src/services/AdminServer/AdminServer.js
  src/services/AuthLogin/AuthLogin.js
Due: All_Services

Move cert script and update docs
  .gitignore
  docs/server.md
  scripts/make_certs.sh
Due: none

Remove unused dockerfile
  src/services/AuthLogin/Dockerfile.authlogin
Due: All_Services

Dependencies cleanup
  npm-shrinkwrap.json
  package.json
Due: none

Formatting
  docs/server.md
Due: none

Format src files
  package.json
Due: none

Formatting
  src/services/AuthLogin/AuthLogin.js
Due: All_Services

Add sslOptions tests
  src/services/AdminServer/AdminServer.js
  test/services/AdminServer/AdminServer.test.js
Due: All_Services

Correctly throw errors
  src/services/AdminServer/AdminServer.js
Due: All_Services
