Repository rustymotors/server: changes, and which Codecov flags are due for each by the changed paths.
All: MCServer, All_Services, Shared

Repo visualizer: updated diagram
  diagram.svg
Due: none

add target to start dev with logging
  Makefile
Due: none

start move to seperate session manager
  Makefile
  src/services/@drazisil/mco-shard/index.ts
  src/services/AdminServer/index.ts
  src/services/MCServer/connection-mgr.ts
  src/services/MCServer/index.ts
  src/services/MCServer/listener-thread.ts
  src/services/shared/database-manager.ts
Due: MCServer, All_Services, Shared

move connection manager into mco-session
  src/services/@drazisil/mco-auth/index.ts
  src/services/@drazisil/mco-session/connection-mgr.ts
  src/services/@drazisil/mco-session/encryption-mgr.ts
  src/services/@drazisil/mco-session/tcpConnection.ts
  src/services/@drazisil/mco-types/structures.ts
  src/services/@drazisil/mco-types/types.ts
  src/services/@drazisil/ssl-options.ts
  src/services/AdminServer/index.ts
  src/services/LobbyServer/index.ts
  src/services/LoginServer/index.ts
  src/services/MCOTS/index.ts
  src/services/MCOTS/tcp-manager.ts
  src/services/MCServer/listener-thread.ts
  src/services/MCServer/nps-packet-manager.ts
  src/services/PersonaServer/nps-persona-maps-msg.ts
  src/services/PersonaServer/persona-server.ts
  src/services/shared/database-manager.ts
  test/connection-obj.test.ts
  test/listener-thread.test.ts
Due: MCServer, All_Services, Shared

move test and rename
  src/services/@drazisil/mco-session/tcpConnection.test.ts
Due: All_Services

cleanup
  tsconfig.json
Due: none

move admin server behind auth server
  src/app.ts
  src/services/@drazisil/mco-auth/index.ts
  src/services/AdminServer/index.ts
  test/admin-server.test.ts
Due: All_Services

rename admin server to api server
  src/services/@drazisil/mco-api/apiServer.test.ts
  src/services/@drazisil/mco-api/apiServer.ts
  src/services/@drazisil/mco-api/index.ts
  src/services/@drazisil/mco-auth/index.ts
Due: All_Services

chore: move jest globals to eslint
  .eslintrc.json
  npm-shrinkwrap.json
  package.json
  src/services/@drazisil/mco-api/apiServer.test.ts
Due: All_Services

start of admin server
  src/services/@drazisil/mco-admin/index.ts
  src/services/@drazisil/mco-auth/index.ts
  src/services/@drazisil/mco-proxy/index.ts
Due: All_Services

add static pages
  npm-shrinkwrap.json
  package.json
  src/services/@drazisil/mco-admin/index.ts
  src/services/@drazisil/mco-admin/site/admin/index.html
  src/services/@drazisil/mco-auth/index.ts
Due: All_Services

poking
  src/services/@drazisil/mco-admin/site/admin/app.js
  src/services/@drazisil/mco-admin/site/admin/index.html
Due: All_Services

chore(deps): update dependency @types/node to v14.17.11
  npm-shrinkwrap.json
  package.json
Due: none

chore(deps): update dependency supertest to v6.1.6
  npm-shrinkwrap.json
  package.json
Due: none

update node types
  npm-shrinkwrap.json
  package.json
Due: none

chore(deps): update typescript-eslint monorepo to v4.29.3
  npm-shrinkwrap.json
  package.json
Due: none

chore(deps): update githubocto/repo-visualizer action to v0.7.0
  .github/workflows/create-diagram.yml
Due: none

chore(deps): update dependency @types/node to v14.17.12
  npm-shrinkwrap.json
  package.json
Due: none

chore(deps): update dependency testdouble to v3.16.2
  npm-shrinkwrap.json
  package.json
Due: none

chore(deps): update dependency jest to v27.1.0
  npm-shrinkwrap.json
  package.json
Due: none

fix(deps): update dependency sqlite3 to v5
  npm-shrinkwrap.json
  package.json
Due: none

Update node.yml
  .github/workflows/node.yml
Due: none

chore(deps): update dependency @typescript-eslint/parser to v4.30.0
  npm-shrinkwrap.json
  package.json
Due: none

chore(deps): update dependency @typescript-eslint/eslint-plugin to v4.30.0
  npm-shrinkwrap.json
  package.json
Due: none

chore: switch to yarn
  npm-shrinkwrap.json
  package.json
  src/services/MCServer/connection-mgr.ts
  src/services/shared/database-manager.ts
  typedoc.json
  yarn.lock
Due: MCServer, All_Services, Shared

chore: update types and unknown
  package.json
  src/services/AdminServer/index.ts
  src/services/MCOTS/message-node.ts
  test/listener-thread.test.ts
  yarn.lock
Due: All_Services

Path conditions:
  MCServer: any of: src/services/MCServer/*
  All_Services: any of: src/services/**/*
  Shared: any of: src/services/shared/*
