Repository rustymotors/server: changes, and which Codecov flags are due for each by the changed paths.
All: MCServer, All_Services, Shared

Update dependency pg to v8
  src/services/AuthLogin/package-lock.json
  src/services/AuthLogin/package.json
Due: All_Services

Update dependency ts-jest to v26
  src/services/AuthLogin/package-lock.json
  src/services/AuthLogin/package.json
Due: All_Services

Update dependency typescript to v4
  src/services/AuthLogin/package-lock.json
  src/services/AuthLogin/package.json
Due: All_Services

Update dependency winston-daily-rotate-file to v4
  src/services/AuthLogin/package-lock.json
  src/services/AuthLogin/package.json
Due: All_Services

Update dependency pg-migrator to v1.1.0
  npm-shrinkwrap.json
  package.json
  src/services/AuthLogin/package-lock.json
  src/services/AuthLogin/package.json
Due: All_Services

Update dependency @types/pg to v7.14.7
  src/services/AuthLogin/package-lock.json
  src/services/AuthLogin/package.json
Due: All_Services

Formatting
  CHANGELOG.md
  config/app-settings.js
  renovate.json
  src/app.js
  src/services/AdminServer/AdminServer.js
  src/services/AuthLogin/AuthLogin.js
  src/services/MCServer/GenericRequestMsg.js
  src/services/MCServer/LobbyServer/LobbyServer.js
Due: MCServer, All_Services

Adjust tests
  src/services/MCServer/npsPacketManager.js
  test/services/AuthLogin/WebServer.test.js
  test/services/LoginServer/LoginServer.test.js
Due: MCServer, All_Services

Deepcode fixes
  src/app.js
  src/server.js
  src/services/AdminServer/AdminServer.js
  src/services/MCServer/ClientConnectMsg.js
  src/services/MCServer/GenericReplyMsg.js
  src/services/MCServer/GenericRequestMsg.js
  src/services/MCServer/LobbyServer/LobbyServer.js
  src/services/MCServer/LobbyServer/npsUserInfo.js
  src/services/MCServer/LoginServer/LoginServer.js
  src/services/MCServer/LoginServer/npsUserStatus.js
  src/services/MCServer/MCOTS/LobbyMsg.js
  src/services/MCServer/MCOTS/LoginMsg.js
  src/services/MCServer/index.js
Due: MCServer, All_Services

Update dependency eslint-plugin-prettier to v3.3.0
  src/services/AuthLogin/package-lock.json
  src/services/AuthLogin/package.json
Due: All_Services

Deepcode fixes
  src/services/MCServer/MCOTS/MCOTServer.js
  src/services/MCServer/MCOTS/MessageNode.js
  src/services/MCServer/MCOTS/NPSMsg.js
  src/services/MCServer/MCOTS/StockCar.js
  src/services/MCServer/MCOTS/StockCarInfoMsg.js
  src/services/MCServer/MCOTS/TCPManager.js
  src/services/MCServer/PersonaServer/NPSPersonaMapsMsg.js
  src/shared/logger.js
Due: All_Services

Add debug
  src/services/MCServer/LoginServer/LoginServer.js
Due: All_Services

Formatting
  src/services/MCServer/listenerThread.js
Due: MCServer, All_Services

Delete tests.md
  test/tests.md
Due: none

Add tests for logger
  test/shared/logger.test.js
Due: none

Lots of tests
  npm-shrinkwrap.json
  package.json
  src/services/AdminServer/AdminServer.js
  src/services/MCServer/LobbyServer/LobbyServer.js
  src/services/MCServer/PersonaServer/userGameData.js
  src/services/MCServer/connectionMgr.js
  src/services/MCServer/index.js
  src/services/MCServer/listenerThread.js
  src/shared/databaseManager.js
  test/helpers.js
  test/services/MCServer/listenerThread.test.js
Due: MCServer, All_Services

Deepcode fix
  test/helpers.js
Due: none

Deepcode change
  test/helpers.js
Due: none

Update dependency @typescript-eslint/parser to v4.10.0
  src/services/AuthLogin/package-lock.json
  src/services/AuthLogin/package.json
Due: All_Services

shrink
  npm-shrinkwrap.json
  src/services/AuthLogin/package-lock.json
  src/services/AuthLogin/package.json
Due: All_Services

Path conditions:
  MCServer: any of: src/services/MCServer/*
  All_Services: any of: src/services/**/*
  Shared: any of: src/services/shared/*
